<!DOCTYPE html>
<html>
    <style>

        ul{
            height: fit-content;
            width: 100%;
        }

        li{
            height: fit-content;
            width: fit-content;
            display: block;
            float: left;
        }

        li a{
            padding: 15px 20px;
            margin: 15px 20px;
            text-decoration: none;
            color: black;
        }

        li a:hover{
            border-bottom: 2px solid grey;
            font-size: 120%;
        }

    </style>
    <head>
        <title>index page</title>
    </head>
    <body style="margin: 0">
        <ul>
            <li><a href="/" style="font-size: 120%; border-bottom: 2px solid grey">Home</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </body>
</html>